body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

img {
  display: block;
  margin: 30px auto 20px;
  border-radius: 80px;
  background-color: #ffffff;
  padding: 10px;
}

header {
  background-color: #333333;
  color: #ffffff;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

main {
  margin: 40px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

label {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"],
input[type="number"] {
  font-size: 24px;
  border: none;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border-bottom: 1px solid #cccccc;
}

button[type="submit"] {
  background-color: #333333;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

button[type="submit"] i {
  font-size: 24px;
}

button[type="submit"]:hover {
  background-color: #555555;
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}
